// Sækja config
@import './config';

.grid {
  margin: 0 auto;
  max-width: $max-width;
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.col {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

// Hér skal nota scss @for til að ítra út klösum fyrir grid
@for $i from 1 through 12 {
  .col-#{$i} {
    @include columns($i);
  }
}

@for $i from 1 through 3 {
  .offset-col-#{$i} {
    margin-left: ($i / 12 * 100) * 1%;
  }
}

@media (max-width: 799px) {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      @include columns($i);
    }
  }

  @for $i from 1 through 3 {
    .offset-col-md-#{$i} {
      margin-left: ($i / 12 * 100) * 1%;
    }
  }
}

@media (max-width: 499px) {
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      @include columns($i);
    }
  }

  @for $i from 1 through 3 {
    .offset-col-sm-#{$i} {
      margin-left: ($i / 12 * 100) * 1%;
    }
  }
}
